// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

// pallette 1
// $dark: #011D28;
// $dark: #7A7A7A;
// $accent: #91924F;
// $light: #E0E0E0;
// $light: #FFFFFF;

// pallette 2
// $dark: #354A1C;
// $dark: #846D70;
// $accent: #467B9A;
// $light: #E3DDDE;
// $light: #FFFFFF;

// pallette 3
// $dark: #0B0A09;
// $accent: #32C35B;
// $accent2: #9EDBAE;
// $light: #EEE5E9;

// pallette 4
// $dark: #2E1F27;
// $accent: #44beff;
// $accent2: #70A054;
// $light: #D7F9F1;

// pallette 5
// $dark: #2E1F27;
// $middle: #363537;
// $accent: #2E1F27;
// $accent2: #70A054;
// $light: #D7F9F1;

// pallette 6
$dark: #2E1F27;
$accent: #70A054;
$accent2: #0085CC;
$middle: #666468;
$middle2: #98AEAA;
$light: #CAF7EC;

$br: 5px;

html {
  height: 100vh;
  position: relative;
  background: $light no-repeat center center fixed;
}

body {
  font: 16px 'B612 Mono', sans-serif;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

.navBar {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: 0rem auto;
  align-items: center;

    .pageTitle {
      flex: 1;

      color: $accent2;
      font-size: 1.5em;
      font-weight: 600;
      letter-spacing: 0.04em;
      text-decoration: none;
    }

    .navItems {
      flex: 1;
      justify-content: flex-end;

      display: flex;

      .navItem {
        justify-content: space-around;

        padding: 0rem 0.6rem;
        color: $middle;
        font-size: 1em;
        font-weight: 600;
        text-decoration: none;
      }
  
      .navItem:hover {
        color: $dark;
        font-weight: bold;
      }
  
      .navItem:active {
        font-size: 1.2em;
      }
    }
}

// Home component
.home {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 85vh;
  margin: auto;

  padding: 5rem 0rem 5rem 0rem;

  .introduction {
    flex: 1;
    display: flex;
    flex-direction: column;

    .introductionTitle {
      align-self: flex-start;

      background: linear-gradient(to right, $dark, $accent2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 2.75em;
      font-weight: 600;
      letter-spacing: 0.01em;
    }

    .introductionBody {
      margin-top: 2rem;

      color: $middle;
      font-size: 1.5em;
      line-height: 1.5em;
      letter-spacing: 0.01em;
    }
  }
  

  .projects {
    flex: 1;
    display: flex;
    flex-direction: column;

    // background: $middle2;
    // border: 1px solid $dark;
    border-radius: $br;

    .projectsTitle {
      flex: 1;
      align-self: center;
      color: $dark;
      font-size: 2.5em;
      letter-spacing: 0.01em;
    }
      
    .projectLinks {
      flex: 1;

      margin-top: 2rem;

      display: flex;
      justify-content: space-around;

      .projectLink {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 13rem;
        height: 4.5rem;

        color: $light;
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-decoration: none;
        background: $accent2;
        border-radius: $br;
      }

      .projectLink:hover {
        color: $middle2;
      }

      .projectLink:active {
        font-size: 1.4em;
      }
    }
  }
}

// Weather component
.weather {
  display: flex;
  align-content: flex-start;
  width: 90%;
  height: 85vh;
  margin: 5rem auto;

  // border: 2px solid $accent2;
  border-radius: $br;

  .weatherLoader {
    margin: 5rem 2rem;
    size: 80px;
  }

  .weatherTableContainer {
    width: 100%;

    .dropdownContainer {
      display: flex;

      .citiesDropdown {
        width: 95%;
        margin: 2rem auto;
        margin-left: 1rem;
        padding: 0.2rem 0.5rem;
      
        border: 0px solid $dark;
        border-radius: $br;
        
        cursor: pointer;
        
        color: $light;
        font-size: 1.8em;
        letter-spacing: 0.02em;
        background: $accent2;
      }
    }

    .weatherTable {
      border-collapse: collapse;
      width: 100%;
      justify-content: space-between;

      tr:nth-child(odd) {
        background: $middle2;
      }

      .weatherText {
        font-size: 1.7em;
        text-transform: capitalize;
      }

      #day {
        padding-left: 1.2rem;
        padding-right: 1.2rem;

        width: 10rem;
        color: $middle;
      }
      
      #temperature {
        padding-left: 4rem;
        color: $dark;
      }
      
      #description {
        color: $dark;
      }

      .weatherImage {
        margin: 0.4rem;
        align-self: center;
      
        border-radius: 0.2rem;
        background: $middle;
      }
    }
  }
}

// Tic Tac Toe component
.tictactoeContainer {
  align-self: start;

  display: grid;
  grid-template-rows: 0.2fr 1fr;
  
  /* Game info */
  .infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    margin: 1rem;

    .restartBtn {
      margin: 0.5rem;
      
      border: 0rem;
      border-radius: 0.2rem;
    
      width: 6rem;
      height: 6rem;
      padding: 1rem;
      background:  $accent;
    
      color: $light;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 0.2rem;
      font-size: 4em;
      font-weight: bold;
    }
    
    .restartBtn:hover {
      background: $accent2;
    }
    
    .restartBtn:active {
      width: 5.5rem;
      height: 5.5rem;
      font-size: 3.5em;
    }
    
    .current {
      margin: 0.5rem;
    
      border-radius: 0.2rem;
    
      width: 6rem;
      height: 6rem;
    
      text-align: center;
      line-height: 5.2rem;
      
      text-align: center;
      color: $accent;
      font-family: 'Roboto', sans-serif;
      font-size: 6rem;
      font-weight: bold;
    }
  }
  
  /* Game grid */
  .gridContainer {
    justify-self: center;

    .cellContainer {
      margin: 0.5rem;
      margin-bottom: 3rem;
    
      width: fit-content;
      height: fit-content;
    
      border: 0.4rem solid $accent;
      border-radius: 0.2rem;
    
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
      grid-gap: 0.3rem;
      padding: 0.2rem;
      background: $accent;
  
      .gridBtn {
        display: flex;
        justify-content: center;
        align-content: center;
      
        width: 12rem;
        height: 12rem;
      
        border: 0rem solid $dark;
        border-radius: 0.1rem;
        
        padding-top: 1.5rem;
        background: $light;
        color: $accent;
      
        font-size: 9rem;
      }
      
      .gridBtn:hover {
        background: $accent2;
      }
      
      .gridBtn:active {
        background: $light;
      }
    }

    // Game conclusion screen
    .gameConclusionContainer {
  
      .gameConclusionText {
        color: $accent;
        font-family: 'Poppins';
        font-size: 6em;
      }
    }
  }
}

// Notes component
.notesContainer {
  align-self: start;

  margin: 5rem 2rem;

  .notesForm {
    width: 30rem;

    border: 0px solid $accent2;
    border-radius: 0.1rem;

    font-size: 1.3em;

    .titleContainer {
      margin-bottom: 1rem;

      display: grid;
      grid-template-rows: 0.2fr 1fr;

      .titleLabel {
        margin-bottom: 0.2rem;

      }

      .titleInput {
        width: 100%;
        box-sizing: border-box;

        border: 2px solid $accent;

        font: 1em 'Poppins';
      }

      .titleInput:focus {
        outline: none;
        border: 2px solid $accent2;
      }
    }
    
    .bodyContainer {
      margin-bottom: 1rem;

      display: grid;
      grid-template-rows: 0.2fr 1fr;

      .bodyLabel {
        margin-bottom: 0.2rem;
      }

      .bodyInput {
        width: 100%;
        height: 8rem;
        box-sizing: border-box;

        border: 2px solid $accent;

        font: 1em 'Poppins';
      }

      .bodyInput:focus {
        outline: none;
        border: 2px solid $accent2;
      }
    }

    .buttonContainer {
      .submitButton {
        width: 100%;

        border: 0rem;
        border-radius: 2px;
      
        padding: 0.2rem;
        background: $accent;
      
        color: $light;
        letter-spacing: 0.1em;
        font-size: 1.1em;
      }
      
      .submitButton:hover {
        background: $accent2;
      }
      
      .submitButton:active {
        font-size: 1em;
      }
    }
  }

  .notelistContainer {
    border: 0px solid $dark;
    padding-left: 0.2rem;

    list-style-type: none;

    .noteContainer {
      display: grid;
      grid-template-columns: 0.5fr 1fr;

      margin: 1rem;

      .noteTextContainer {
        .noteTitle {
          margin: 1rem;
  
          font-family: Roboto;
          font-weight: bold;
          font-size: 1.5em;
          color: $accent;
        }
  
        .noteBody {
          margin: 1rem;
  
          font: 1em 'Poppins';
          color: $dark;
        }
      }

      .noteDeleteButton {
        margin-left: 8rem;
        align-self: center;
        justify-self: end;

        width: fit-content;
        height: fit-content;

        border: 0px;
        border-radius: 0.2rem;
      
        padding: 0.4rem;
        background:  $accent;
      
        color: $dark;
        font-weight: 600;
        font-size: 1em;
      }
      
      .noteDeleteButton:hover {
        background: $accent2;
      }
      
      .noteDeleteButton:active {
        font-size: 0.9em;
      }
    }
  }
}


// Footer component
.footerContainer {
  display: flex;
  width: 90%;
  height: 5vh;
  margin: 0rem auto;
  align-items: center;

  .footerText, .footerInterpunct {
    font-size: 0.80em;
    padding: 0.2rem;
    color: $dark;
  }
}