// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

// pallette 1
// $dark: #011D28;
// $dark: #7A7A7A;
// $accent: #91924F;
// $light: #E0E0E0;
// $light: #FFFFFF;

// pallette 2
// $dark: #354A1C;
// $dark: #846D70;
// $accent: #467B9A;
// $light: #E3DDDE;
// $light: #FFFFFF;

// pallette 3
// $dark: #0B0A09;
// $accent: #32C35B;
// $accent2: #9EDBAE;
// $light: #EEE5E9;

// pallette 4
// $dark: #2E1F27;
// $accent: #44beff;
// $accent2: #70A054;
// $light: #D7F9F1;

// pallette 5
// $dark: #2E1F27;
// $middle: #363537;
// $accent: #2E1F27;
// $accent2: #70A054;
// $light: #D7F9F1;

// pallette 6
$dark: #2E1F27;
$accent: #00b7ff;
$accent2: #00679e;
$middle: #666468;
$middle2: #98AEAA;
$middle3: #b2cec8;
$light: #CAF7EC;

$br: 2px;

html {
  height: 100vh;
  position: relative;
  background: $light no-repeat center center fixed;
}

body {
  font: 16px 'B612 Mono', sans-serif;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

.navBar {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: 0rem auto;
  align-items: center;

    .pageTitle {
      flex: 1;

      color: $accent2;
      font-size: 1.5em;
      font-weight: 600;
      letter-spacing: 0.04em;
      text-decoration: none;
    }

    .navItems {
      flex: 1;
      justify-content: flex-end;

      display: flex;

      .navItem {
        justify-content: space-around;

        padding: 0rem 0.6rem;
        color: $middle;
        font-size: 1em;
        font-weight: 600;
        text-decoration: none;
      }
  
      .navItem:hover {
        color: $dark;
        font-weight: bold;
      }
  
      .navItem:active {
        font-size: 0.95em;
      }
    }
}

// Home component
.home {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 85vh;
  margin: auto;

  padding: 5rem 0rem 5rem 0rem;

  .introduction {
    flex: 1;
    display: flex;
    flex-direction: column;

    .introductionTitle {
      align-self: flex-start;

      background: linear-gradient(to right, $dark, $middle);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      color: $dark;
      font-size: 2.75em;
      font-weight: 600;
      letter-spacing: 0.01em;
    }

    .introductionBody {
      margin-top: 2rem;

      color: $middle;
      font-size: 1.5em;
      line-height: 1.5em;
      letter-spacing: 0.01em;
    }
  }
  

  .projects {
    flex: 1;
    display: flex;
    flex-direction: column;

    // background: $middle2;
    // border: 1px solid $dark;
    border-radius: $br;

    // .projectsTitle {
    //   flex: 1;
    //   align-self: center;
    //   color: $dark;
    //   font-size: 2.5em;
    //   letter-spacing: 0.01em;
    // }
      
    .projectLinks {
      display: flex;
      justify-content: space-around;

      // padding: 2rem;
      // box-shadow: 0rem 0rem 2rem $middle3;
      border-radius: $br;


      .projectLink {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 13rem;
        height: 4.5rem;

        color: $dark;
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-decoration: none;
        box-shadow: inset 0rem 0rem 0.5rem 0rem $accent;
        transition: ease-out 0.35s;
        border-radius: $br;
      }

      .projectLink:hover {
        box-shadow: inset 13rem 0rem 0rem 0rem $accent;
        color: $light;
      }

      .projectLink:active {
        font-size: 1.4em;
        transition: none;
      }
    }
  }
}

// Weather component
.weather {
  display: flex;
  align-content: flex-start;
  width: 90%;
  height: 85vh;
  margin: 5rem auto;

  border-radius: $br;

  .weatherLoader {
    margin: 10rem auto;
    size: 80px;
  }

  .weatherTableContainer {
    width: 100%;
    height: fit-content;
    box-shadow: 0rem 0rem 0.6rem 0rem $middle3;
    padding: 3rem;

    .dropdownContainer {
      display: flex;

      .citiesDropdown {
        width: 100%;
        margin-bottom: 2rem;
        padding: 0.8rem 0.5rem;
      
        cursor: pointer;
        
        color: $dark;
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-decoration: none;
        background: $light;
        box-shadow: inset 0rem 0rem 0.6rem 0rem $middle2;
        border: none;
        border-radius: $br;
      }

      .citiesDropdown:focus {
        outline: none;
      }
    }

    .weatherTable {
      border-collapse: collapse;
      width: 100%;
      justify-content: space-between;

      tr:nth-child(odd) {
        background: linear-gradient(to left, $middle3, $light);
      }

      .weatherText {
        font-size: 1.7em;
        text-transform: capitalize;
      }

      #day {
        padding-left: 1.2rem;
        padding-right: 1.2rem;

        width: 10rem;
        color: $dark;
      }
      
      #temperature {
        padding-left: 4rem;
        color: $dark;
      }
      
      #description {
        color: $dark;
      }

      .weatherImage {
        margin: 0.4rem;
        align-self: center;
      
        border-radius: 0.2rem;
        background: $middle2;
      }
    }
  }
}

// Tic Tac Toe component
.tictactoe {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 85vh;
  margin: auto;
  
  /* Game info */
  .gameInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    margin: 1rem;

    .restartButton {
      margin: 0.5rem;
      
      width: 4rem;
      height: 4rem;
      
      box-shadow: inset 0rem 0rem 0.5rem 0rem $middle;
      transition: ease-out 0.7s;
      border: none;
      border-radius: $br;
      background:  $light;
      
      .restartIcon {
        font-size: 4em;
        color: $dark;
      }
    }
    
    .restartButton:hover {
      box-shadow: inset 13rem 0rem 0rem 0rem $accent;
      
      .restartIcon {
        color: $light;
      }
    }
    
    .restartButton:active {
      width: 3.7rem;
      height: 3.7rem;
      
      .restartIcon {
        font-size: 3.7em;
      }
    }
    
    .current {
      margin: 0.5rem;
    
      width: 6rem;
      height: 6rem;
    
      color: $dark;
      font-size: 6em;
    }
  }
  
  /* Game grid */
  .gameGrid {
    .cells {
      margin: 0.5rem;
      margin-bottom: 3rem;
    
      width: fit-content;
      height: fit-content;
    
      box-shadow: 0rem 0rem 0.6rem 0rem $middle2;
      border-radius: $br;
    
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
      grid-gap: 0.3rem;
      padding: 0.2rem;
      background: $middle2;
  
      .gridButton {
        display: flex;
        justify-content: center;
        align-content: center;
      
        width: 12rem;
        height: 12rem;
      
        border: 0rem solid $dark;
        border-radius: 0.1rem;
        
        padding-top: 1.5rem;
        background: $light;
        color: $accent;
        font-size: 9em;

        transition: ease-out 0.2s;
      }
      
      .gridButton:hover {
        background: $middle3;
      }
      
      .gridButton:active {
        background: $middle2;
      }
    }

    // Game conclusion screen
    .gameConclusion {
      box-shadow: 0rem 0rem 0.6rem 0rem $middle3;
      padding: 1rem 6rem;

      .gameConclusionText {
        color: $middle;
        font-size: 6em;
      }
    }
  }
}

// Notes component
.notes {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 90vw;
  margin: auto;

  .notesForm {
    margin-top: 2rem;
    width: 30rem;

    border: 0px solid $accent2;
    border-radius: 0.1rem;

    font-size: 1.3em;

    .title {
      margin-bottom: 1rem;

      display: grid;
      grid-template-rows: 0.2fr 1fr;

      .titleLabel {
        margin-bottom: 0.2rem;

      }

      .titleInput {
        width: 100%;
        box-sizing: border-box;

        border: 2px solid $middle2;

        font-size: 1em;
      }

      .titleInput:focus {
        outline: none;
        border: 2px solid $accent;
      }
    }
    
    .body {
      margin-bottom: 2rem;

      display: grid;
      grid-template-rows: 0.2fr 1fr;

      .bodyLabel {
        margin-bottom: 0.2rem;
      }

      .bodyInput {
        width: 100%;
        height: 8rem;
        box-sizing: border-box;

        border: 2px solid $middle2;

        font-size: 1em;
      }

      .bodyInput:focus {
        outline: none;
        border: 2px solid $accent;
      }
    }

    .submitButton {
      width: 100%;

      color: $dark;
      font-size: 1.2em;
      font-weight: 600;
      letter-spacing: 0.01em;
      box-shadow: inset 0rem 0rem 0.5rem 0rem $middle;
      transition: ease-out 0.7s;
      border: none;
      border-radius: $br;
      padding: 1rem 0rem;
    }
    
    .submitButton:hover {
      box-shadow: inset 30rem 0rem 0rem 0rem $accent;
      color: $light;
    }
    
    .submitButton:active {
      font-size: 1.1em;
      transition: ease-out 0.1s;
    }
  }

  .noteList {
    border: 0px solid $dark;
    padding-top: 2rem;
    padding-left: 0.2rem;

    list-style-type: none;

    .noteContainer {
      display: flex;
      justify-content: space-between;

      .noteText {
        .noteTitle {
          margin: 1rem;
  
          font-weight: bold;
          font-size: 1.5em;
          color: $middle;
        }
  
        .noteBody {
          margin: 1rem;

          font-size: 1em;
          color: $middle2;
        }
      }

      .noteDeleteButton {
        width: fit-content;
        height: fit-content;

        color: $dark;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 0.01em;
        box-shadow: inset 0rem 0rem 0.5rem 0rem $middle2;
        transition: ease-out 0.2s;
        border: none;
        border-radius: $br;
        padding: 0.5rem 1rem;
      }
      
      .noteDeleteButton:hover {
        box-shadow: inset 5rem 0rem 0rem 0rem $middle2;
        color: $light;
      }
    
      .submitButton:active {
        font-size: 0.8em;
        transition: ease-out 0.1s;
      }
    }
  }
}


// Footer component
.footerContainer {
  display: flex;
  width: 90%;
  height: 5vh;
  margin: 0rem auto;
  align-items: center;

  .footerText, .footerInterpunct, .footerLink {
    font-size: 0.80em;
    padding: 0.2rem;
    color: $dark;
  }

  .footerLink {
    color: $accent2;
    text-decoration: none;
  }

  .footerLink:hover {
    color: $accent;
  }
}